// 业务上的公共样式 ========================================
@import '@/uni.scss';
// 主要按钮
.zc-primary-btn {
    text-align: center;
    width: 100%;
    height: 95rpx;
    line-height: 95rpx;
    font-size: 30rpx;
    font-weight: bold;
    color: #fff;
    background-color: $zc-color-primary;
}
.zc-btn-disabled {
    background-color: $zc-color-disabled;
}

// 文字按钮
.zc-text-btn {
    display: inline-block;
    color: $zc-color-primary;
    font-size: 27rpx;
}

// 置底按钮
.zc-bottom-placed {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 15rpx;
    padding-left: 23rpx;
    padding-right: 23rpx;
    background-color: #fff;
    border-top: 1rpx solid rgba(0, 0, 0, 0.02);
    z-index: 2;
	box-sizing: border-box;
}
