# 忽略以下文件和目录
node_modules
dist
uni_modules
.DS_Store
*.scss
*.css

# 忽略UniApp编译生成的小程序相关目录
/unpackage/

# 忽略本地配置文件（请根据实际情况修改）
/manifest.local.json

# 忽略编辑器自动生成的文件
.idea/
.vscode/

# 忽略日志文件
/logs/

# 忽略临时文件
/temp/

# 忽略构建工具自动生成的文件
/build/

